In [10]:
import pandas as pd
import seaborn as sns

In [11]:
aapl = pd.read_csv('AAPL.csv')

In [14]:
aapl.head()

,Date,Low,Open,Volume,High,Close,Adjusted Close
0,12-12-1980,0.128348,0.128348,469033600,0.128906,0.128348,0.100039
1,15-12-1980,0.121652,0.122210,175884800,0.122210,0.121652,0.094820
2,16-12-1980,0.112723,0.113281,105728000,0.113281,0.112723,0.087861
3,17-12-1980,0.115513,0.115513,86441600,0.116071,0.115513,0.090035
4,18-12-1980,0.118862,0.118862,73449600,0.119420,0.118862,0.092646

In [15]:
aapl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10502 entries, 0 to 10501
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            10502 non-null  object
 1   Low             10502 non-null  float64
 2   Open            10502 non-null  float64
 3   Volume          10502 non-null  int64
 4   High            10502 non-null  float64
 5   Close           10502 non-null  float64
 6   Adjusted Close  10502 non-null  float64
dtypes: float64(5), int64(1), object(1)
memory usage: 574.5+ KB