Import Libraries

In [66]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

Import and assign dataset to variable

In [39]:
aapl = pd.read_csv('AAPL.csv')

Preview data and info

In [40]:
aapl.head()

,Date,Low,Open,Volume,High,Close,Adjusted Close
0,12-12-1980,0.128348,0.128348,469033600,0.128906,0.128348,0.100039
1,15-12-1980,0.121652,0.122210,175884800,0.122210,0.121652,0.094820
2,16-12-1980,0.112723,0.113281,105728000,0.113281,0.112723,0.087861
3,17-12-1980,0.115513,0.115513,86441600,0.116071,0.115513,0.090035
4,18-12-1980,0.118862,0.118862,73449600,0.119420,0.118862,0.092646

In [41]:
aapl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10502 entries, 0 to 10501
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            10502 non-null  object
 1   Low             10502 non-null  float64
 2   Open            10502 non-null  float64
 3   Volume          10502 non-null  int64
 4   High            10502 non-null  float64
 5   Close           10502 non-null  float64
 6   Adjusted Close  10502 non-null  float64
dtypes: float64(5), int64(1), object(1)
memory usage: 574.5+ KB

Assign index and remove column

In [54]:
aapl.set_index('Date').head(10)

                 Low      Open     Volume      High     Close  Adjusted Close
Date
12-12-1980  0.128348  0.128348  469033600  0.128906  0.128348        0.100039
15-12-1980  0.121652  0.122210  175884800  0.122210  0.121652        0.094820
16-12-1980  0.112723  0.113281  105728000  0.113281  0.112723        0.087861
17-12-1980  0.115513  0.115513   86441600  0.116071  0.115513        0.090035
18-12-1980  0.118862  0.118862   73449600  0.119420  0.118862        0.092646
19-12-1980  0.126116  0.126116   48630400  0.126674  0.126116        0.098300
22-12-1980  0.132254  0.132254   37363200  0.132813  0.132254        0.103084
23-12-1980  0.137835  0.137835   46950400  0.138393  0.137835        0.107434
24-12-1980  0.145089  0.145089   48003200  0.145647  0.145089        0.113088
26-12-1980  0.158482  0.158482   55574400  0.159040  0.158482        0.123527

In [43]:
aapl.loc[:, aapl.columns!='Volume'].set_index('Date')

                   Low        Open        High       Close  Adjusted Close
Date
12-12-1980    0.128348    0.128348    0.128906    0.128348        0.100039
15-12-1980    0.121652    0.122210    0.122210    0.121652        0.094820
16-12-1980    0.112723    0.113281    0.113281    0.112723        0.087861
17-12-1980    0.115513    0.115513    0.116071    0.115513        0.090035
18-12-1980    0.118862    0.118862    0.119420    0.118862        0.092646
...                ...         ...         ...         ...             ...
02-08-2022  159.630005  160.100006  162.410004  160.009995      159.788040
03-08-2022  160.750000  160.839996  166.589996  166.130005      165.899567
04-08-2022  164.429993  166.009995  167.190002  165.809998      165.580002
05-08-2022  163.000000  163.210007  165.850006  165.350006      165.350006
08-08-2022  164.199997  166.369995  167.809998  164.869995      164.869995

[10502 rows x 5 columns]

Checking if data needs to be cleaned

In [47]:
na_aapl.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10502 entries, 0 to 10501
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            10502 non-null  object
 1   Low             10502 non-null  float64
 2   Open            10502 non-null  float64
 3   Volume          10502 non-null  int64
 4   High            10502 non-null  float64
 5   Close           10502 non-null  float64
 6   Adjusted Close  10502 non-null  float64
dtypes: float64(5), int64(1), object(1)
memory usage: 656.4+ KB

In [58]:
aapl.isnull().any(axis = 1).sum() #No missing values

0

In [63]:
 print(aapl.duplicated().sum) #No duplicate rows

<bound method Series.sum of 0        False
1        False
2        False
3        False
4        False
         ...
10497    False
10498    False
10499    False
10500    False
10501    False
Length: 10502, dtype: bool>

If the open price goes up, the High and Low price for the day will likely go up too. Volume has little impact or correlation on a large timeline

In [65]:
print(aapl.corr())

                     Low      Open    Volume      High     Close  \
Low             1.000000  0.999926 -0.201644  0.999911  0.999929
Open            0.999926  1.000000 -0.200733  0.999943  0.999850
Volume         -0.201644 -0.200733  1.000000 -0.200172 -0.200922
High            0.999911  0.999943 -0.200172  1.000000  0.999926
Close           0.999929  0.999850 -0.200922  0.999926  1.000000
Adjusted Close  0.999587  0.999525 -0.203676  0.999630  0.999684

                Adjusted Close
Low                   0.999587
Open                  0.999525
Volume               -0.203676
High                  0.999630
Close                 0.999684
Adjusted Close        1.000000